{% extends "accounts/layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">
           
            <div class="col-sm-3" style="text-align:center">
                <img src="{{page_user.profile_image_url}}" class="rounded-circle" style="height:160px; width:160px" />
                
            </div>
            <div class="col-sm-9">
                {{page_user.username}}
                <a href="{% url "accounts:profile_edit"%}" class="btn btn-primary">프로필 수정</a>
                    <hr/>
                    0 projects, 0 followers, 0 following
                    <hr/>
                    {{page_user.name}}
            </div>
                  
                    
                  
                    
            </div>
            <div class="col-sm-12">
            </div>
        </div>
    </div>
{% endblock %}