{% extends "accounts/layout.html" %}
{% load bootstrap4 %}


{% block content %}
    <div class="container">
        <div class="row">
            <!-- offset-sm-3 을 사용해서 grid 3칸 오른쪽으로 이동-->
            <div class="col-sm-6 offset-sm-3">
                <form class="mb-3" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% comment %} <table>
                        {{form}}
                    </table> {% endcomment %}
                    {% comment %} <input type="submit" /> {% endcomment %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                        submit
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}